#module-validator,
.module-validator-report,
.module-validator-results {
  display: none;
}

#module-validator .panel-body {
  padding-top: 0;
}

#module-validator .btn {
  text-transform: none;
}

.module-validator-report {
  margin-left: 20px;
}

.module-validator-results {
  margin-top: 10px;
}

.module-validator-loading i {
  vertical-align: middle;
}

